name: My Ox Security Scan

on:
  push:
  branches: [dev]
  
  pull_request:
    branches: [dev]

jobs:
  security:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout repository
           uses: actions/checkout@v3

         - name: Run my OX Security Scan
           uses: oxsecurity/ox-security-scan@main
           with: 
             ox_api_key: ${{ secrets.MY_KEY }}

           
