name: My Ox Security Scan

on:
  workflow_dispatch:  #Allow manually trigger using the Github UI
  push:
    branches: [main]
  
  pull_request:
    branches: [main]

jobs:
  security:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout repository
           uses: actions/checkout@v3

         - name: Run my OX Security Scan
           uses: oxsecurity/ox-security-scan@main
           with: 
             ox_api_key: ${{ secrets.OX_API_KEY }}

           
